Nifi/NE_HTTP_SERVER.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description></description><name>NE_HTTP_SERVER</name><snippet><connections><id>c7a5bcb7-d2c4-4ccb-b964-f5069c57e448</id><parentGroupId>9df0a5d6-6a85-40a5-ba19-f8eaf4b85e9c</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>9df0a5d6-6a85-40a5-ba19-f8eaf4b85e9c</groupId><id>c11f1710-3fbc-4879-b6c8-f1b2f0cf3899</id><type>FUNNEL</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>output stream</selectedRelationships><source><groupId>9df0a5d6-6a85-40a5-ba19-f8eaf4b85e9c</groupId><id>6609bf82-a38d-44d3-802e-6d4db5f7b1bc</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>15cb0150-670e-4c57-a5a8-449a9b3feb4b</id><parentGroupId>9df0a5d6-6a85-40a5-ba19-f8eaf4b85e9c</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>9df0a5d6-6a85-40a5-ba19-f8eaf4b85e9c</groupId><id>da200c61-623d-4522-ad07-b0c1a85a3b59</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>9df0a5d6-6a85-40a5-ba19-f8eaf4b85e9c</groupId><id>c11f1710-3fbc-4879-b6c8-f1b2f0cf3899</id><type>FUNNEL</type></source><zIndex>0</zIndex></connections><connections><id>234417b3-470c-453b-bed8-fadac3d9aa67</id><parentGroupId>9df0a5d6-6a85-40a5-ba19-f8eaf4b85e9c</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>9df0a5d6-6a85-40a5-ba19-f8eaf4b85e9c</groupId><id>1e1b140a-a443-4edd-8c2e-edeb6309c2cb</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>unmatched</selectedRelationships><source><groupId>9df0a5d6-6a85-40a5-ba19-f8eaf4b85e9c</groupId><id>70742947-5572-490c-b8ef-4c22d6315d83</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>339d9b6a-6795-41da-88ac-7a19222709d0</id><parentGroupId>9df0a5d6-6a85-40a5-ba19-f8eaf4b85e9c</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>9df0a5d6-6a85-40a5-ba19-f8eaf4b85e9c</groupId><id>70742947-5572-490c-b8ef-4c22d6315d83</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>9df0a5d6-6a85-40a5-ba19-f8eaf4b85e9c</groupId><id>21d0658c-34b2-4a2d-aee5-602612cd479d</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>54d181b2-102b-433c-b114-708838501433</id><parentGroupId>9df0a5d6-6a85-40a5-ba19-f8eaf4b85e9c</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>9df0a5d6-6a85-40a5-ba19-f8eaf4b85e9c</groupId><id>6609bf82-a38d-44d3-802e-6d4db5f7b1bc</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>single_record</selectedRelationships><source><groupId>9df0a5d6-6a85-40a5-ba19-f8eaf4b85e9c</groupId><id>70742947-5572-490c-b8ef-4c22d6315d83</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><controllerServices><id>2929f98d-ac9b-41e1-856e-5c8fff96c018</id><descriptors><entry><key>Maximum Outstanding Requests</key><value><defaultValue>5000</defaultValue><description>The maximum number of HTTP requests that can be outstanding at any one time. Any attempt to register an additional HTTP Request will cause an error</description><displayName>Maximum Outstanding Requests</displayName><dynamic>false</dynamic><name>Maximum Outstanding Requests</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Request Expiration</key><value><defaultValue>1 min</defaultValue><description>Specifies how long an HTTP Request should be left unanswered before being evicted from the cache and being responded to with a Service Unavailable status code</description><displayName>Request Expiration</displayName><dynamic>false</dynamic><name>Request Expiration</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><name>StandardHttpContextMap</name><properties><entry><key>Maximum Outstanding Requests</key></entry><entry><key>Request Expiration</key></entry></properties><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>HTTP Status Code</key><value><description>The HTTP Status Code to use when responding to the HTTP Request. See Section 10 of RFC 2616 for more information.</description><displayName>HTTP Status Code</displayName><dynamic>false</dynamic><name>HTTP Status Code</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>HTTP Context Map</key><value><allowableValues><displayName>StandardHttpContextMap</displayName><value>2929f98d-ac9b-41e1-856e-5c8fff96c018</value></allowableValues><description>The HTTP Context Map Controller Service to use for caching the HTTP Request Information</description><displayName>HTTP Context Map</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService><name>HTTP Context Map</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>9df0a5d6-6a85-40a5-ba19-f8eaf4b85e9c</groupId><id>da200c61-623d-4522-ad07-b0c1a85a3b59</id><name>HandleHttpResponse</name><properties><entry><key>HTTP Status Code</key><value>200</value></entry><entry><key>HTTP Context Map</key><value>2929f98d-ac9b-41e1-856e-5c8fff96c018</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>org.apache.nifi.processors.standard.HandleHttpResponse</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>HTTP Status Code</key><value><description>The HTTP Status Code to use when responding to the HTTP Request. See Section 10 of RFC 2616 for more information.</description><displayName>HTTP Status Code</displayName><dynamic>false</dynamic><name>HTTP Status Code</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>HTTP Context Map</key><value><allowableValues><displayName>StandardHttpContextMap</displayName><value>2929f98d-ac9b-41e1-856e-5c8fff96c018</value></allowableValues><description>The HTTP Context Map Controller Service to use for caching the HTTP Request Information</description><displayName>HTTP Context Map</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService><name>HTTP Context Map</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>9df0a5d6-6a85-40a5-ba19-f8eaf4b85e9c</groupId><id>1e1b140a-a443-4edd-8c2e-edeb6309c2cb</id><name>HandleHttpResponse</name><properties><entry><key>HTTP Status Code</key><value>404</value></entry><entry><key>HTTP Context Map</key><value>2929f98d-ac9b-41e1-856e-5c8fff96c018</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>org.apache.nifi.processors.standard.HandleHttpResponse</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Listening Port</key><value><defaultValue>80</defaultValue><description>The Port to listen on for incoming HTTP requests</description><displayName>Listening Port</displayName><dynamic>false</dynamic><name>Listening Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Hostname</key><value><description>The Hostname to bind to. If not specified, will bind to all hosts</description><displayName>Hostname</displayName><dynamic>false</dynamic><name>Hostname</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><description>The SSL Context Service to use in order to secure the server. If specified, the server will accept only HTTPS requests; otherwise, the server will accept only HTTP requests</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>HTTP Context Map</key><value><allowableValues><displayName>StandardHttpContextMap</displayName><value>2929f98d-ac9b-41e1-856e-5c8fff96c018</value></allowableValues><description>The HTTP Context Map Controller Service to use for caching the HTTP Request Information</description><displayName>HTTP Context Map</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService><name>HTTP Context Map</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allowed Paths</key><value><description>A Regular Expression that specifies the valid HTTP Paths that are allowed in the incoming URL Requests. If this value is specified and the path of the HTTP Requests does not match this Regular Expression, the Processor will respond with a 404: NotFound</description><displayName>Allowed Paths</displayName><dynamic>false</dynamic><name>Allowed Paths</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Default URL Character Set</key><value><defaultValue>UTF-8</defaultValue><description>The character set to use for decoding URL parameters if the HTTP Request does not supply one</description><displayName>Default URL Character Set</displayName><dynamic>false</dynamic><name>Default URL Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow GET</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP GET Method</description><displayName>Allow GET</displayName><dynamic>false</dynamic><name>Allow GET</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow POST</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP POST Method</description><displayName>Allow POST</displayName><dynamic>false</dynamic><name>Allow POST</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow PUT</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP PUT Method</description><displayName>Allow PUT</displayName><dynamic>false</dynamic><name>Allow PUT</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow DELETE</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP DELETE Method</description><displayName>Allow DELETE</displayName><dynamic>false</dynamic><name>Allow DELETE</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow HEAD</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Allow HTTP HEAD Method</description><displayName>Allow HEAD</displayName><dynamic>false</dynamic><name>Allow HEAD</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow OPTIONS</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Allow HTTP OPTIONS Method</description><displayName>Allow OPTIONS</displayName><dynamic>false</dynamic><name>Allow OPTIONS</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Additional HTTP Methods</key><value><description>A comma-separated list of non-standard HTTP Methods that should be allowed</description><displayName>Additional HTTP Methods</displayName><dynamic>false</dynamic><name>Additional HTTP Methods</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Client Authentication</key><value><allowableValues><description>Processor will not authenticate clients. Anyone can communicate with this Processor anonymously</description><displayName>No Authentication</displayName><value>No Authentication</value></allowableValues><allowableValues><description>Processor will try to verify the client but if unable to verify will allow the client to communicate anonymously</description><displayName>Want Authentication</displayName><value>Want Authentication</value></allowableValues><allowableValues><description>Processor will reject communications from any client unless the client provides a certificate that is trusted by the TrustStorespecified in the SSL Context Service</description><displayName>Need Authentication</displayName><value>Need Authentication</value></allowableValues><defaultValue>No Authentication</defaultValue><description>Specifies whether or not the Processor should authenticate clients. This value is ignored if the &lt;SSL Context Service&gt; Property is not specified or the SSL Context provided uses only a KeyStore and not a TrustStore.</description><displayName>Client Authentication</displayName><dynamic>false</dynamic><name>Client Authentication</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>ebbd2f5c-7550-4b07-97e4-91c98f5f09b4</groupId><id>c1568a54-a32f-4a9c-a070-061ee54e14f2</id><name>HandleHttpRequest</name><properties><entry><key>Listening Port</key><value>9095</value></entry><entry><key>Hostname</key></entry><entry><key>SSL Context Service</key></entry><entry><key>HTTP Context Map</key><value>2929f98d-ac9b-41e1-856e-5c8fff96c018</value></entry><entry><key>Allowed Paths</key></entry><entry><key>Default URL Character Set</key></entry><entry><key>Allow GET</key></entry><entry><key>Allow POST</key></entry><entry><key>Allow PUT</key></entry><entry><key>Allow DELETE</key></entry><entry><key>Allow HEAD</key></entry><entry><key>Allow OPTIONS</key></entry><entry><key>Additional HTTP Methods</key></entry><entry><key>Client Authentication</key></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>org.apache.nifi.processors.standard.HandleHttpRequest</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Listening Port</key><value><defaultValue>80</defaultValue><description>The Port to listen on for incoming HTTP requests</description><displayName>Listening Port</displayName><dynamic>false</dynamic><name>Listening Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Hostname</key><value><description>The Hostname to bind to. If not specified, will bind to all hosts</description><displayName>Hostname</displayName><dynamic>false</dynamic><name>Hostname</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><description>The SSL Context Service to use in order to secure the server. If specified, the server will accept only HTTPS requests; otherwise, the server will accept only HTTP requests</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>HTTP Context Map</key><value><allowableValues><displayName>StandardHttpContextMap</displayName><value>2929f98d-ac9b-41e1-856e-5c8fff96c018</value></allowableValues><description>The HTTP Context Map Controller Service to use for caching the HTTP Request Information</description><displayName>HTTP Context Map</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService><name>HTTP Context Map</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allowed Paths</key><value><description>A Regular Expression that specifies the valid HTTP Paths that are allowed in the incoming URL Requests. If this value is specified and the path of the HTTP Requests does not match this Regular Expression, the Processor will respond with a 404: NotFound</description><displayName>Allowed Paths</displayName><dynamic>false</dynamic><name>Allowed Paths</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Default URL Character Set</key><value><defaultValue>UTF-8</defaultValue><description>The character set to use for decoding URL parameters if the HTTP Request does not supply one</description><displayName>Default URL Character Set</displayName><dynamic>false</dynamic><name>Default URL Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow GET</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP GET Method</description><displayName>Allow GET</displayName><dynamic>false</dynamic><name>Allow GET</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow POST</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP POST Method</description><displayName>Allow POST</displayName><dynamic>false</dynamic><name>Allow POST</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow PUT</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP PUT Method</description><displayName>Allow PUT</displayName><dynamic>false</dynamic><name>Allow PUT</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow DELETE</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP DELETE Method</description><displayName>Allow DELETE</displayName><dynamic>false</dynamic><name>Allow DELETE</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow HEAD</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Allow HTTP HEAD Method</description><displayName>Allow HEAD</displayName><dynamic>false</dynamic><name>Allow HEAD</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow OPTIONS</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Allow HTTP OPTIONS Method</description><displayName>Allow OPTIONS</displayName><dynamic>false</dynamic><name>Allow OPTIONS</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Additional HTTP Methods</key><value><description>A comma-separated list of non-standard HTTP Methods that should be allowed</description><displayName>Additional HTTP Methods</displayName><dynamic>false</dynamic><name>Additional HTTP Methods</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Client Authentication</key><value><allowableValues><description>Processor will not authenticate clients. Anyone can communicate with this Processor anonymously</description><displayName>No Authentication</displayName><value>No Authentication</value></allowableValues><allowableValues><description>Processor will try to verify the client but if unable to verify will allow the client to communicate anonymously</description><displayName>Want Authentication</displayName><value>Want Authentication</value></allowableValues><allowableValues><description>Processor will reject communications from any client unless the client provides a certificate that is trusted by the TrustStorespecified in the SSL Context Service</description><displayName>Need Authentication</displayName><value>Need Authentication</value></allowableValues><defaultValue>No Authentication</defaultValue><description>Specifies whether or not the Processor should authenticate clients. This value is ignored if the &lt;SSL Context Service&gt; Property is not specified or the SSL Context provided uses only a KeyStore and not a TrustStore.</description><displayName>Client Authentication</displayName><dynamic>false</dynamic><name>Client Authentication</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>9df0a5d6-6a85-40a5-ba19-f8eaf4b85e9c</groupId><id>21d0658c-34b2-4a2d-aee5-602612cd479d</id><name>HandleHttpRequest</name><properties><entry><key>Listening Port</key><value>9095</value></entry><entry><key>Hostname</key></entry><entry><key>SSL Context Service</key></entry><entry><key>HTTP Context Map</key><value>2929f98d-ac9b-41e1-856e-5c8fff96c018</value></entry><entry><key>Allowed Paths</key></entry><entry><key>Default URL Character Set</key></entry><entry><key>Allow GET</key></entry><entry><key>Allow POST</key></entry><entry><key>Allow PUT</key></entry><entry><key>Allow DELETE</key></entry><entry><key>Allow HEAD</key></entry><entry><key>Allow OPTIONS</key></entry><entry><key>Additional HTTP Methods</key></entry><entry><key>Client Authentication</key></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>org.apache.nifi.processors.standard.HandleHttpRequest</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>HTTP Status Code</key><value><description>The HTTP Status Code to use when responding to the HTTP Request. See Section 10 of RFC 2616 for more information.</description><displayName>HTTP Status Code</displayName><dynamic>false</dynamic><name>HTTP Status Code</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>HTTP Context Map</key><value><allowableValues><displayName>StandardHttpContextMap</displayName><value>2929f98d-ac9b-41e1-856e-5c8fff96c018</value></allowableValues><description>The HTTP Context Map Controller Service to use for caching the HTTP Request Information</description><displayName>HTTP Context Map</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService><name>HTTP Context Map</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>ebbd2f5c-7550-4b07-97e4-91c98f5f09b4</groupId><id>220458a4-dc46-485e-b66a-c9ebdd1cfd86</id><name>HandleHttpResponse</name><properties><entry><key>HTTP Status Code</key><value>200</value></entry><entry><key>HTTP Context Map</key><value>2929f98d-ac9b-41e1-856e-5c8fff96c018</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>org.apache.nifi.processors.standard.HandleHttpResponse</type><validationErrors>'Upstream Connections' is invalid because Processor requires an upstream connection but currently has none</validationErrors></referencingComponents><state>ENABLED</state><type>org.apache.nifi.http.StandardHttpContextMap</type></controllerServices><funnels><id>c11f1710-3fbc-4879-b6c8-f1b2f0cf3899</id><parentGroupId>9df0a5d6-6a85-40a5-ba19-f8eaf4b85e9c</parentGroupId><position><x>888.0</x><y>74.0</y></position></funnels><processors><id>6609bf82-a38d-44d3-802e-6d4db5f7b1bc</id><parentGroupId>9df0a5d6-6a85-40a5-ba19-f8eaf4b85e9c</parentGroupId><position><x>429.0196838378906</x><y>259.4543762207031</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Command Arguments</key><value><description>The arguments to supply to the executable delimited by the ';' character.</description><displayName>Command Arguments</displayName><dynamic>false</dynamic><name>Command Arguments</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Command Path</key><value><description>Specifies the command to be executed; if just the name of an executable is provided, it must be in the user's environment PATH.</description><displayName>Command Path</displayName><dynamic>false</dynamic><name>Command Path</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Ignore STDIN</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, the contents of the incoming flowfile will not be passed to the executing command</description><displayName>Ignore STDIN</displayName><dynamic>false</dynamic><name>Ignore STDIN</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Working Directory</key><value><description>The directory to use as the current working directory when executing the command</description><displayName>Working Directory</displayName><dynamic>false</dynamic><name>Working Directory</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Argument Delimiter</key><value><defaultValue>;</defaultValue><description>Delimiter to use to separate arguments for a command [default: ;]. Must be a single character</description><displayName>Argument Delimiter</displayName><dynamic>false</dynamic><name>Argument Delimiter</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Output Destination Attribute</key><value><description>If set, the output of the stream command will be put into an attribute of the original FlowFile instead of a separate FlowFile. There will no longer be a relationship for 'output stream'. The value of this property will be the key for the output attribute.</description><displayName>Output Destination Attribute</displayName><dynamic>false</dynamic><name>Output Destination Attribute</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Attribute Length</key><value><defaultValue>256</defaultValue><description>If routing the output of the stream command to an attribute, the number of characters put to the attribute value will be at most this amount. This is important because attributes are held in memory and large attributes will quickly cause out of memory issues. If the output goes longer than this value, it will truncated to fit. Consider making this smaller if able.</description><displayName>Max Attribute Length</displayName><dynamic>false</dynamic><name>Max Attribute Length</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Command Arguments</key><value>/home/nifi/CCFraudUseCase/Data_Generation/readrandom0.5.py</value></entry><entry><key>Command Path</key><value>python</value></entry><entry><key>Ignore STDIN</key><value>true</value></entry><entry><key>Working Directory</key><value>/home/nifi/CCFraudUseCase/Data_Generation/</value></entry><entry><key>Argument Delimiter</key></entry><entry><key>Output Destination Attribute</key></entry><entry><key>Max Attribute Length</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ExecuteStreamCommand</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that were successfully processed</description><name>original</name></relationships><relationships><autoTerminate>false</autoTerminate><description>The destination path for the flow file created from the command's output</description><name>output stream</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type></processors><processors><id>1e1b140a-a443-4edd-8c2e-edeb6309c2cb</id><parentGroupId>9df0a5d6-6a85-40a5-ba19-f8eaf4b85e9c</parentGroupId><position><x>128.0292625035513</x><y>-202.43734367029566</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>HTTP Status Code</key><value><description>The HTTP Status Code to use when responding to the HTTP Request. See Section 10 of RFC 2616 for more information.</description><displayName>HTTP Status Code</displayName><dynamic>false</dynamic><name>HTTP Status Code</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>HTTP Context Map</key><value><allowableValues><displayName>StandardHttpContextMap</displayName><value>2929f98d-ac9b-41e1-856e-5c8fff96c018</value></allowableValues><description>The HTTP Context Map Controller Service to use for caching the HTTP Request Information</description><displayName>HTTP Context Map</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService><name>HTTP Context Map</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>HTTP Status Code</key><value>404</value></entry><entry><key>HTTP Context Map</key><value>2929f98d-ac9b-41e1-856e-5c8fff96c018</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>HandleHttpResponse</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles will be routed to this Relationship if the Processor is unable to respond to the requestor. This may happen, for instance, if the connection times out or if NiFi is restarted before responding to the HTTP Request.</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles will be routed to this Relationship after the response has been successfully sent to the requestor</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.HandleHttpResponse</type></processors><processors><id>21d0658c-34b2-4a2d-aee5-602612cd479d</id><parentGroupId>9df0a5d6-6a85-40a5-ba19-f8eaf4b85e9c</parentGroupId><position><x>-227.13344812393188</x><y>256.6834411621094</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Listening Port</key><value><defaultValue>80</defaultValue><description>The Port to listen on for incoming HTTP requests</description><displayName>Listening Port</displayName><dynamic>false</dynamic><name>Listening Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Hostname</key><value><description>The Hostname to bind to. If not specified, will bind to all hosts</description><displayName>Hostname</displayName><dynamic>false</dynamic><name>Hostname</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><description>The SSL Context Service to use in order to secure the server. If specified, the server will accept only HTTPS requests; otherwise, the server will accept only HTTP requests</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>HTTP Context Map</key><value><allowableValues><displayName>StandardHttpContextMap</displayName><value>2929f98d-ac9b-41e1-856e-5c8fff96c018</value></allowableValues><description>The HTTP Context Map Controller Service to use for caching the HTTP Request Information</description><displayName>HTTP Context Map</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService><name>HTTP Context Map</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allowed Paths</key><value><description>A Regular Expression that specifies the valid HTTP Paths that are allowed in the incoming URL Requests. If this value is specified and the path of the HTTP Requests does not match this Regular Expression, the Processor will respond with a 404: NotFound</description><displayName>Allowed Paths</displayName><dynamic>false</dynamic><name>Allowed Paths</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Default URL Character Set</key><value><defaultValue>UTF-8</defaultValue><description>The character set to use for decoding URL parameters if the HTTP Request does not supply one</description><displayName>Default URL Character Set</displayName><dynamic>false</dynamic><name>Default URL Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow GET</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP GET Method</description><displayName>Allow GET</displayName><dynamic>false</dynamic><name>Allow GET</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow POST</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP POST Method</description><displayName>Allow POST</displayName><dynamic>false</dynamic><name>Allow POST</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow PUT</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP PUT Method</description><displayName>Allow PUT</displayName><dynamic>false</dynamic><name>Allow PUT</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow DELETE</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP DELETE Method</description><displayName>Allow DELETE</displayName><dynamic>false</dynamic><name>Allow DELETE</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow HEAD</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Allow HTTP HEAD Method</description><displayName>Allow HEAD</displayName><dynamic>false</dynamic><name>Allow HEAD</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow OPTIONS</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Allow HTTP OPTIONS Method</description><displayName>Allow OPTIONS</displayName><dynamic>false</dynamic><name>Allow OPTIONS</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Additional HTTP Methods</key><value><description>A comma-separated list of non-standard HTTP Methods that should be allowed</description><displayName>Additional HTTP Methods</displayName><dynamic>false</dynamic><name>Additional HTTP Methods</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Client Authentication</key><value><allowableValues><description>Processor will not authenticate clients. Anyone can communicate with this Processor anonymously</description><displayName>No Authentication</displayName><value>No Authentication</value></allowableValues><allowableValues><description>Processor will try to verify the client but if unable to verify will allow the client to communicate anonymously</description><displayName>Want Authentication</displayName><value>Want Authentication</value></allowableValues><allowableValues><description>Processor will reject communications from any client unless the client provides a certificate that is trusted by the TrustStorespecified in the SSL Context Service</description><displayName>Need Authentication</displayName><value>Need Authentication</value></allowableValues><defaultValue>No Authentication</defaultValue><description>Specifies whether or not the Processor should authenticate clients. This value is ignored if the &lt;SSL Context Service&gt; Property is not specified or the SSL Context provided uses only a KeyStore and not a TrustStore.</description><displayName>Client Authentication</displayName><dynamic>false</dynamic><name>Client Authentication</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Listening Port</key><value>9095</value></entry><entry><key>Hostname</key></entry><entry><key>SSL Context Service</key></entry><entry><key>HTTP Context Map</key><value>2929f98d-ac9b-41e1-856e-5c8fff96c018</value></entry><entry><key>Allowed Paths</key></entry><entry><key>Default URL Character Set</key></entry><entry><key>Allow GET</key></entry><entry><key>Allow POST</key></entry><entry><key>Allow PUT</key></entry><entry><key>Allow DELETE</key></entry><entry><key>Allow HEAD</key></entry><entry><key>Allow OPTIONS</key></entry><entry><key>Additional HTTP Methods</key></entry><entry><key>Client Authentication</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>HandleHttpRequest</name><relationships><autoTerminate>false</autoTerminate><description>All content that is received is routed to the 'success' relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.HandleHttpRequest</type></processors><processors><id>da200c61-623d-4522-ad07-b0c1a85a3b59</id><parentGroupId>9df0a5d6-6a85-40a5-ba19-f8eaf4b85e9c</parentGroupId><position><x>915.5293579101562</x><y>266.8199768066406</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>HTTP Status Code</key><value><description>The HTTP Status Code to use when responding to the HTTP Request. See Section 10 of RFC 2616 for more information.</description><displayName>HTTP Status Code</displayName><dynamic>false</dynamic><name>HTTP Status Code</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>HTTP Context Map</key><value><allowableValues><displayName>StandardHttpContextMap</displayName><value>2929f98d-ac9b-41e1-856e-5c8fff96c018</value></allowableValues><description>The HTTP Context Map Controller Service to use for caching the HTTP Request Information</description><displayName>HTTP Context Map</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService><name>HTTP Context Map</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>HTTP Status Code</key><value>200</value></entry><entry><key>HTTP Context Map</key><value>2929f98d-ac9b-41e1-856e-5c8fff96c018</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>HandleHttpResponse</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles will be routed to this Relationship if the Processor is unable to respond to the requestor. This may happen, for instance, if the connection times out or if NiFi is restarted before responding to the HTTP Request.</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles will be routed to this Relationship after the response has been successfully sent to the requestor</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.HandleHttpResponse</type></processors><processors><id>70742947-5572-490c-b8ef-4c22d6315d83</id><parentGroupId>9df0a5d6-6a85-40a5-ba19-f8eaf4b85e9c</parentGroupId><position><x>105.66437522281535</x><y>38.45564568054523</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Routing Strategy</key><value><allowableValues><description>A copy of the FlowFile will be routed to each relationship whose corresponding expression evaluates to 'true'</description><displayName>Route to Property name</displayName><value>Route to Property name</value></allowableValues><allowableValues><description>Requires that all user-defined expressions evaluate to 'true' for the FlowFile to be considered a match</description><displayName>Route to 'matched' if all match</displayName><value>Route to 'match' if all match</value></allowableValues><allowableValues><description>Requires that at least one user-defined expression evaluate to 'true' for hte FlowFile to be considered a match</description><displayName>Route to 'matched' if any matches</displayName><value>Route to 'match' if any matches</value></allowableValues><defaultValue>Route to Property name</defaultValue><description>Specifies how to determine which relationship to use when evaluating the Expression Language</description><displayName>Routing Strategy</displayName><dynamic>false</dynamic><name>Routing Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>single_record</key><value><description></description><displayName>single_record</displayName><dynamic>true</dynamic><name>single_record</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Routing Strategy</key></entry><entry><key>single_record</key><value>${http.request.uri:contains('singleRecord')}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>RouteOnAttribute</name><relationships><autoTerminate>false</autoTerminate><description></description><name>single_record</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles that do not match any user-define expression will be routed here</description><name>unmatched</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.RouteOnAttribute</type></processors></snippet><timestamp>03/30/2016 14:15:54 UTC</timestamp></template>