Nifi/Nifi_demo_se.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description>from the working demo</description><name>Nifi_demo_se.xml</name><snippet><connections><id>508c1f9d-26a8-4df9-b3d1-4c9703dcb524</id><parentGroupId>e79dedd6-ea12-4b64-b0ff-00830a9161b2</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>982.6322021484375</x><y>192.85311889648438</y></bends><destination><groupId>201ed82f-806d-49af-975f-b9a228a8893b</groupId><id>9686d493-d190-4122-81dc-cf6609bb45bf</id><type>INPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>advanced_fraud</selectedRelationships><source><groupId>e79dedd6-ea12-4b64-b0ff-00830a9161b2</groupId><id>61a729c5-d52f-4c74-88dc-d6cac9d1bf03</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>b11d5687-dbbf-4817-8e43-01abe3da21d8</id><parentGroupId>e79dedd6-ea12-4b64-b0ff-00830a9161b2</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>880.0</x><y>380.0</y></bends><destination><groupId>201ed82f-806d-49af-975f-b9a228a8893b</groupId><id>a12894f5-7125-4275-8452-7ea17d54a3ed</id><type>INPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>single_record</selectedRelationships><source><groupId>e79dedd6-ea12-4b64-b0ff-00830a9161b2</groupId><id>61a729c5-d52f-4c74-88dc-d6cac9d1bf03</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>457cc0d5-b7d3-41e9-9e83-75050a8be833</id><parentGroupId>e79dedd6-ea12-4b64-b0ff-00830a9161b2</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>201ed82f-806d-49af-975f-b9a228a8893b</groupId><id>1e18bb11-ede6-48b1-8312-21e53c48ab45</id><type>INPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>five_record</selectedRelationships><source><groupId>e79dedd6-ea12-4b64-b0ff-00830a9161b2</groupId><id>61a729c5-d52f-4c74-88dc-d6cac9d1bf03</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>f9f785eb-3cb8-4331-9b1a-8928507dc8cb</id><parentGroupId>e79dedd6-ea12-4b64-b0ff-00830a9161b2</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>e79dedd6-ea12-4b64-b0ff-00830a9161b2</groupId><id>8a8e2d86-6c11-41be-8c70-4c84fa73acf1</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>unmatched</selectedRelationships><source><groupId>e79dedd6-ea12-4b64-b0ff-00830a9161b2</groupId><id>61a729c5-d52f-4c74-88dc-d6cac9d1bf03</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>8c5fdf67-af95-4e6e-ad1b-9c3052256e05</id><parentGroupId>e79dedd6-ea12-4b64-b0ff-00830a9161b2</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>5a9bc0f4-9dad-4660-9084-b6dd0f2eb866</groupId><id>b2dab97d-eeb2-44a8-aeb4-3d27cc3a6dff</id><type>INPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>201ed82f-806d-49af-975f-b9a228a8893b</groupId><id>51992154-53c9-4f2e-81df-4acb62ee3372</id><type>OUTPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>a9606dfc-4748-4b92-8799-47b690b03627</id><parentGroupId>e79dedd6-ea12-4b64-b0ff-00830a9161b2</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>e79dedd6-ea12-4b64-b0ff-00830a9161b2</groupId><id>61a729c5-d52f-4c74-88dc-d6cac9d1bf03</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>e79dedd6-ea12-4b64-b0ff-00830a9161b2</groupId><id>c0eae419-0db2-4a94-b7fe-98badb3df6a5</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><controllerServices><id>6085aa6b-f631-46cb-b0fe-ffc2ea43fc46</id><comments></comments><descriptors><entry><key>Maximum Outstanding Requests</key><value><defaultValue>5000</defaultValue><description>The maximum number of HTTP requests that can be outstanding at any one time. Any attempt to register an additional HTTP Request will cause an error</description><displayName>Maximum Outstanding Requests</displayName><dynamic>false</dynamic><name>Maximum Outstanding Requests</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Request Expiration</key><value><defaultValue>1 min</defaultValue><description>Specifies how long an HTTP Request should be left unanswered before being evicted from the cache and being responded to with a Service Unavailable status code</description><displayName>Request Expiration</displayName><dynamic>false</dynamic><name>Request Expiration</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><name>StandardHttpContextMap</name><properties><entry><key>Maximum Outstanding Requests</key><value>5000</value></entry><entry><key>Request Expiration</key><value>1 min</value></entry></properties><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Listening Port</key><value><defaultValue>80</defaultValue><description>The Port to listen on for incoming HTTP requests</description><displayName>Listening Port</displayName><dynamic>false</dynamic><name>Listening Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Hostname</key><value><description>The Hostname to bind to. If not specified, will bind to all hosts</description><displayName>Hostname</displayName><dynamic>false</dynamic><name>Hostname</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><description>The SSL Context Service to use in order to secure the server. If specified, the server will accept only HTTPS requests; otherwise, the server will accept only HTTP requests</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>HTTP Context Map</key><value><allowableValues><displayName>StandardHttpContextMap</displayName><value>6085aa6b-f631-46cb-b0fe-ffc2ea43fc46</value></allowableValues><description>The HTTP Context Map Controller Service to use for caching the HTTP Request Information</description><displayName>HTTP Context Map</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService><name>HTTP Context Map</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allowed Paths</key><value><description>A Regular Expression that specifies the valid HTTP Paths that are allowed in the incoming URL Requests. If this value is specified and the path of the HTTP Requests does not match this Regular Expression, the Processor will respond with a 404: NotFound</description><displayName>Allowed Paths</displayName><dynamic>false</dynamic><name>Allowed Paths</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Default URL Character Set</key><value><defaultValue>UTF-8</defaultValue><description>The character set to use for decoding URL parameters if the HTTP Request does not supply one</description><displayName>Default URL Character Set</displayName><dynamic>false</dynamic><name>Default URL Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow GET</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP GET Method</description><displayName>Allow GET</displayName><dynamic>false</dynamic><name>Allow GET</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow POST</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP POST Method</description><displayName>Allow POST</displayName><dynamic>false</dynamic><name>Allow POST</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow PUT</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP PUT Method</description><displayName>Allow PUT</displayName><dynamic>false</dynamic><name>Allow PUT</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow DELETE</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP DELETE Method</description><displayName>Allow DELETE</displayName><dynamic>false</dynamic><name>Allow DELETE</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow HEAD</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Allow HTTP HEAD Method</description><displayName>Allow HEAD</displayName><dynamic>false</dynamic><name>Allow HEAD</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow OPTIONS</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Allow HTTP OPTIONS Method</description><displayName>Allow OPTIONS</displayName><dynamic>false</dynamic><name>Allow OPTIONS</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Additional HTTP Methods</key><value><description>A comma-separated list of non-standard HTTP Methods that should be allowed</description><displayName>Additional HTTP Methods</displayName><dynamic>false</dynamic><name>Additional HTTP Methods</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Client Authentication</key><value><allowableValues><description>Processor will not authenticate clients. Anyone can communicate with this Processor anonymously</description><displayName>No Authentication</displayName><value>No Authentication</value></allowableValues><allowableValues><description>Processor will try to verify the client but if unable to verify will allow the client to communicate anonymously</description><displayName>Want Authentication</displayName><value>Want Authentication</value></allowableValues><allowableValues><description>Processor will reject communications from any client unless the client provides a certificate that is trusted by the TrustStorespecified in the SSL Context Service</description><displayName>Need Authentication</displayName><value>Need Authentication</value></allowableValues><defaultValue>No Authentication</defaultValue><description>Specifies whether or not the Processor should authenticate clients. This value is ignored if the &lt;SSL Context Service&gt; Property is not specified or the SSL Context provided uses only a KeyStore and not a TrustStore.</description><displayName>Client Authentication</displayName><dynamic>false</dynamic><name>Client Authentication</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>e79dedd6-ea12-4b64-b0ff-00830a9161b2</groupId><id>c0eae419-0db2-4a94-b7fe-98badb3df6a5</id><name>HandleHttpRequest</name><properties><entry><key>Listening Port</key><value>9095</value></entry><entry><key>Hostname</key></entry><entry><key>SSL Context Service</key></entry><entry><key>HTTP Context Map</key><value>6085aa6b-f631-46cb-b0fe-ffc2ea43fc46</value></entry><entry><key>Allowed Paths</key></entry><entry><key>Default URL Character Set</key><value>UTF-8</value></entry><entry><key>Allow GET</key><value>true</value></entry><entry><key>Allow POST</key><value>false</value></entry><entry><key>Allow PUT</key><value>false</value></entry><entry><key>Allow DELETE</key><value>false</value></entry><entry><key>Allow HEAD</key><value>false</value></entry><entry><key>Allow OPTIONS</key><value>true</value></entry><entry><key>Additional HTTP Methods</key></entry><entry><key>Client Authentication</key><value>No Authentication</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>org.apache.nifi.processors.standard.HandleHttpRequest</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>HTTP Status Code</key><value><description>The HTTP Status Code to use when responding to the HTTP Request. See Section 10 of RFC 2616 for more information.</description><displayName>HTTP Status Code</displayName><dynamic>false</dynamic><name>HTTP Status Code</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>HTTP Context Map</key><value><allowableValues><displayName>StandardHttpContextMap</displayName><value>6085aa6b-f631-46cb-b0fe-ffc2ea43fc46</value></allowableValues><description>The HTTP Context Map Controller Service to use for caching the HTTP Request Information</description><displayName>HTTP Context Map</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService><name>HTTP Context Map</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>e79dedd6-ea12-4b64-b0ff-00830a9161b2</groupId><id>8a8e2d86-6c11-41be-8c70-4c84fa73acf1</id><name>HandleHttpResponse</name><properties><entry><key>HTTP Status Code</key><value>404</value></entry><entry><key>HTTP Context Map</key><value>6085aa6b-f631-46cb-b0fe-ffc2ea43fc46</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>org.apache.nifi.processors.standard.HandleHttpResponse</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>HTTP Status Code</key><value><description>The HTTP Status Code to use when responding to the HTTP Request. See Section 10 of RFC 2616 for more information.</description><displayName>HTTP Status Code</displayName><dynamic>false</dynamic><name>HTTP Status Code</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>HTTP Context Map</key><value><allowableValues><displayName>StandardHttpContextMap</displayName><value>6085aa6b-f631-46cb-b0fe-ffc2ea43fc46</value></allowableValues><description>The HTTP Context Map Controller Service to use for caching the HTTP Request Information</description><displayName>HTTP Context Map</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService><name>HTTP Context Map</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Access-Control-Allow-Origin</key><value><description>Specifies the value to send for the 'Access-Control-Allow-Origin' HTTP Header</description><displayName>Access-Control-Allow-Origin</displayName><dynamic>true</dynamic><name>Access-Control-Allow-Origin</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>5a9bc0f4-9dad-4660-9084-b6dd0f2eb866</groupId><id>f45ad326-d525-4316-86b9-3c7c5adc6304</id><name>HandleHttpResponse</name><properties><entry><key>HTTP Status Code</key><value>200</value></entry><entry><key>HTTP Context Map</key><value>6085aa6b-f631-46cb-b0fe-ffc2ea43fc46</value></entry><entry><key>Access-Control-Allow-Origin</key><value>*</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>org.apache.nifi.processors.standard.HandleHttpResponse</type></referencingComponents><state>ENABLED</state><type>org.apache.nifi.http.StandardHttpContextMap</type></controllerServices><processGroups><id>201ed82f-806d-49af-975f-b9a228a8893b</id><parentGroupId>e79dedd6-ea12-4b64-b0ff-00830a9161b2</parentGroupId><position><x>1128.935302734375</x><y>255.9324951171875</y></position><activeRemotePortCount>0</activeRemotePortCount><comments></comments><contents><connections><id>8da019ea-0c6a-484a-b879-b878e0c37abf</id><parentGroupId>201ed82f-806d-49af-975f-b9a228a8893b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>201ed82f-806d-49af-975f-b9a228a8893b</groupId><id>0be7236c-b5a5-47a4-9ddc-9f95233160bb</id><type>FUNNEL</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>155a6132-559b-4edf-9d22-c6a8a370e155</groupId><id>4bbd1e15-804b-4b84-8650-91b1e3dc29e6</id><type>OUTPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>a30d2984-f4a1-4447-a632-f47d331e123c</id><parentGroupId>201ed82f-806d-49af-975f-b9a228a8893b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>9ad44083-4127-4a3c-adfa-89e8a3a0f065</groupId><id>fcdadd88-6b00-45e2-805c-3829ece30149</id><type>INPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>201ed82f-806d-49af-975f-b9a228a8893b</groupId><id>1e18bb11-ede6-48b1-8312-21e53c48ab45</id><type>INPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>ec3bef9c-aacb-4415-8562-c058206e8d26</id><parentGroupId>201ed82f-806d-49af-975f-b9a228a8893b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>201ed82f-806d-49af-975f-b9a228a8893b</groupId><id>0be7236c-b5a5-47a4-9ddc-9f95233160bb</id><type>FUNNEL</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>9ad44083-4127-4a3c-adfa-89e8a3a0f065</groupId><id>2f5d909f-30ed-419d-93c3-a7ed9aa438ea</id><type>OUTPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>7b1d1ceb-9e1d-4074-91cb-172e829d8a3c</id><parentGroupId>201ed82f-806d-49af-975f-b9a228a8893b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>092c2661-768b-49f8-84d5-a1f0d50b0f37</groupId><id>a106d9e1-f940-455b-9629-945f7b9ab6b6</id><type>INPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>201ed82f-806d-49af-975f-b9a228a8893b</groupId><id>9686d493-d190-4122-81dc-cf6609bb45bf</id><type>INPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>f4219ccc-8c59-4541-9bc6-fcde1f09a46a</id><parentGroupId>201ed82f-806d-49af-975f-b9a228a8893b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>155a6132-559b-4edf-9d22-c6a8a370e155</groupId><id>9b53d2d6-f5c3-4c9e-a335-f8cbefbd2bb4</id><type>INPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>201ed82f-806d-49af-975f-b9a228a8893b</groupId><id>a12894f5-7125-4275-8452-7ea17d54a3ed</id><type>INPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>5e503c49-b400-4c98-9a1a-c123fedef3e7</id><parentGroupId>201ed82f-806d-49af-975f-b9a228a8893b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>201ed82f-806d-49af-975f-b9a228a8893b</groupId><id>51992154-53c9-4f2e-81df-4acb62ee3372</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>201ed82f-806d-49af-975f-b9a228a8893b</groupId><id>0be7236c-b5a5-47a4-9ddc-9f95233160bb</id><type>FUNNEL</type></source><zIndex>0</zIndex></connections><connections><id>e81af250-4760-41a2-8c13-51c9ebd05dbe</id><parentGroupId>201ed82f-806d-49af-975f-b9a228a8893b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>201ed82f-806d-49af-975f-b9a228a8893b</groupId><id>0be7236c-b5a5-47a4-9ddc-9f95233160bb</id><type>FUNNEL</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>092c2661-768b-49f8-84d5-a1f0d50b0f37</groupId><id>1bac7d03-fd01-458a-b20a-297742bfae50</id><type>OUTPUT_PORT</type></source><zIndex>0</zIndex></connections><funnels><id>0be7236c-b5a5-47a4-9ddc-9f95233160bb</id><parentGroupId>201ed82f-806d-49af-975f-b9a228a8893b</parentGroupId><position><x>1458.7445089599391</x><y>272.6595431120881</y></position></funnels><inputPorts><id>9686d493-d190-4122-81dc-cf6609bb45bf</id><parentGroupId>201ed82f-806d-49af-975f-b9a228a8893b</parentGroupId><position><x>142.73545575370176</x><y>481.4156055464557</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>true_fraud</name><state>RUNNING</state><type>INPUT_PORT</type></inputPorts><inputPorts><id>1e18bb11-ede6-48b1-8312-21e53c48ab45</id><parentGroupId>201ed82f-806d-49af-975f-b9a228a8893b</parentGroupId><position><x>134.0</x><y>197.0</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>five_requests</name><state>RUNNING</state><type>INPUT_PORT</type></inputPorts><inputPorts><id>a12894f5-7125-4275-8452-7ea17d54a3ed</id><parentGroupId>201ed82f-806d-49af-975f-b9a228a8893b</parentGroupId><position><x>138.0</x><y>-9.0</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>single_request</name><state>RUNNING</state><type>INPUT_PORT</type></inputPorts><outputPorts><id>51992154-53c9-4f2e-81df-4acb62ee3372</id><parentGroupId>201ed82f-806d-49af-975f-b9a228a8893b</parentGroupId><position><x>1779.6541862559536</x><y>21.075080621317625</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>output_events</name><state>RUNNING</state><type>OUTPUT_PORT</type></outputPorts><processGroups><id>092c2661-768b-49f8-84d5-a1f0d50b0f37</id><parentGroupId>201ed82f-806d-49af-975f-b9a228a8893b</parentGroupId><position><x>588.7308959960938</x><y>406.9729919433594</y></position><activeRemotePortCount>0</activeRemotePortCount><comments></comments><contents><connections><id>143cba14-3723-4fdf-a75b-433fae9802d5</id><parentGroupId>092c2661-768b-49f8-84d5-a1f0d50b0f37</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>84809284-a269-4e7f-9683-6e0fcb128a26</groupId><id>222e07b7-32b3-4a0c-93c1-919a59b4e29b</id><type>INPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>output stream</selectedRelationships><source><groupId>092c2661-768b-49f8-84d5-a1f0d50b0f37</groupId><id>a6af7b37-6feb-4e8c-8652-733aa68e376c</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>6ca2aa88-54ed-43a5-a8fc-2e79ec420e95</id><parentGroupId>092c2661-768b-49f8-84d5-a1f0d50b0f37</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>092c2661-768b-49f8-84d5-a1f0d50b0f37</groupId><id>a6af7b37-6feb-4e8c-8652-733aa68e376c</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>092c2661-768b-49f8-84d5-a1f0d50b0f37</groupId><id>a106d9e1-f940-455b-9629-945f7b9ab6b6</id><type>INPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>a1a82f3e-eac6-4128-98d7-70aa87210de0</id><parentGroupId>092c2661-768b-49f8-84d5-a1f0d50b0f37</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>092c2661-768b-49f8-84d5-a1f0d50b0f37</groupId><id>1bac7d03-fd01-458a-b20a-297742bfae50</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>84809284-a269-4e7f-9683-6e0fcb128a26</groupId><id>a58c45d9-8d66-4913-887b-36a54cd93047</id><type>OUTPUT_PORT</type></source><zIndex>0</zIndex></connections><inputPorts><id>a106d9e1-f940-455b-9629-945f7b9ab6b6</id><parentGroupId>092c2661-768b-49f8-84d5-a1f0d50b0f37</parentGroupId><position><x>52.0</x><y>-37.0</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>request_in</name><state>RUNNING</state><type>INPUT_PORT</type></inputPorts><outputPorts><id>1bac7d03-fd01-458a-b20a-297742bfae50</id><parentGroupId>092c2661-768b-49f8-84d5-a1f0d50b0f37</parentGroupId><position><x>579.6666402307529</x><y>-168.8710465320811</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>requests_out</name><state>RUNNING</state><type>OUTPUT_PORT</type></outputPorts><processGroups><id>84809284-a269-4e7f-9683-6e0fcb128a26</id><parentGroupId>092c2661-768b-49f8-84d5-a1f0d50b0f37</parentGroupId><position><x>929.9999872810885</x><y>-46.871029554352845</y></position><activeRemotePortCount>0</activeRemotePortCount><comments></comments><contents><connections><id>00689651-35ef-4e8b-a95b-38d2816b5854</id><parentGroupId>84809284-a269-4e7f-9683-6e0fcb128a26</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>84809284-a269-4e7f-9683-6e0fcb128a26</groupId><id>a58c45d9-8d66-4913-887b-36a54cd93047</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>84809284-a269-4e7f-9683-6e0fcb128a26</groupId><id>222e07b7-32b3-4a0c-93c1-919a59b4e29b</id><type>INPUT_PORT</type></source><zIndex>0</zIndex></connections><inputPorts><id>222e07b7-32b3-4a0c-93c1-919a59b4e29b</id><parentGroupId>84809284-a269-4e7f-9683-6e0fcb128a26</parentGroupId><position><x>404.99999991727316</x><y>230.0000031604909</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>in</name><state>RUNNING</state><type>INPUT_PORT</type></inputPorts><outputPorts><id>a58c45d9-8d66-4913-887b-36a54cd93047</id><parentGroupId>84809284-a269-4e7f-9683-6e0fcb128a26</parentGroupId><position><x>790.9999999172732</x><y>148.0000031604909</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>out</name><state>RUNNING</state><type>OUTPUT_PORT</type></outputPorts></contents><disabledCount>0</disabledCount><inactiveRemotePortCount>0</inactiveRemotePortCount><inputPortCount>1</inputPortCount><invalidCount>0</invalidCount><name>Fraud_Detection_Flag</name><outputPortCount>1</outputPortCount><parent><id>092c2661-768b-49f8-84d5-a1f0d50b0f37</id><name>Ledger Transaction</name><parent><id>201ed82f-806d-49af-975f-b9a228a8893b</id><name>handle_requests</name><parent><id>e79dedd6-ea12-4b64-b0ff-00830a9161b2</id><name>NiFi Flow</name></parent></parent></parent><runningCount>2</runningCount><stoppedCount>0</stoppedCount></processGroups><processors><id>a6af7b37-6feb-4e8c-8652-733aa68e376c</id><parentGroupId>092c2661-768b-49f8-84d5-a1f0d50b0f37</parentGroupId><position><x>422.0</x><y>215.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Command Arguments</key><value><description>The arguments to supply to the executable delimited by the ';' character.</description><displayName>Command Arguments</displayName><dynamic>false</dynamic><name>Command Arguments</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Command Path</key><value><description>Specifies the command to be executed; if just the name of an executable is provided, it must be in the user's environment PATH.</description><displayName>Command Path</displayName><dynamic>false</dynamic><name>Command Path</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Ignore STDIN</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, the contents of the incoming flowfile will not be passed to the executing command</description><displayName>Ignore STDIN</displayName><dynamic>false</dynamic><name>Ignore STDIN</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Working Directory</key><value><description>The directory to use as the current working directory when executing the command</description><displayName>Working Directory</displayName><dynamic>false</dynamic><name>Working Directory</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Argument Delimiter</key><value><defaultValue>;</defaultValue><description>Delimiter to use to separate arguments for a command [default: ;]. Must be a single character</description><displayName>Argument Delimiter</displayName><dynamic>false</dynamic><name>Argument Delimiter</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Output Destination Attribute</key><value><description>If set, the output of the stream command will be put into an attribute of the original FlowFile instead of a separate FlowFile. There will no longer be a relationship for 'output stream'. The value of this property will be the key for the output attribute.</description><displayName>Output Destination Attribute</displayName><dynamic>false</dynamic><name>Output Destination Attribute</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Attribute Length</key><value><defaultValue>256</defaultValue><description>If routing the output of the stream command to an attribute, the number of characters put to the attribute value will be at most this amount. This is important because attributes are held in memory and large attributes will quickly cause out of memory issues. If the output goes longer than this value, it will truncated to fit. Consider making this smaller if able.</description><displayName>Max Attribute Length</displayName><dynamic>false</dynamic><name>Max Attribute Length</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Command Arguments</key><value>/home/nifi/CCFraudUseCase/Data_Generation/readrandom0.5.py ; -i 10 ; -f 2</value></entry><entry><key>Command Path</key><value>python</value></entry><entry><key>Ignore STDIN</key><value>true</value></entry><entry><key>Working Directory</key><value>/home/nifi/CCFraudUseCase/Data_Generation</value></entry><entry><key>Argument Delimiter</key><value>;</value></entry><entry><key>Output Destination Attribute</key></entry><entry><key>Max Attribute Length</key><value>256</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Retrieve_Store_Ledger</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that were successfully processed</description><name>original</name></relationships><relationships><autoTerminate>false</autoTerminate><description>The destination path for the flow file created from the command's output</description><name>output stream</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type></processors></contents><disabledCount>0</disabledCount><inactiveRemotePortCount>0</inactiveRemotePortCount><inputPortCount>1</inputPortCount><invalidCount>0</invalidCount><name>Ledger Transaction</name><outputPortCount>1</outputPortCount><parent><id>201ed82f-806d-49af-975f-b9a228a8893b</id><name>handle_requests</name><parent><id>e79dedd6-ea12-4b64-b0ff-00830a9161b2</id><name>NiFi Flow</name></parent></parent><runningCount>5</runningCount><stoppedCount>0</stoppedCount></processGroups><processGroups><id>9ad44083-4127-4a3c-adfa-89e8a3a0f065</id><parentGroupId>201ed82f-806d-49af-975f-b9a228a8893b</parentGroupId><position><x>575.0</x><y>158.0</y></position><activeRemotePortCount>0</activeRemotePortCount><comments></comments><contents><connections><id>3a43e417-4acb-412b-9f55-27860f6e886d</id><parentGroupId>9ad44083-4127-4a3c-adfa-89e8a3a0f065</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>9ad44083-4127-4a3c-adfa-89e8a3a0f065</groupId><id>2f5d909f-30ed-419d-93c3-a7ed9aa438ea</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>output stream</selectedRelationships><source><groupId>9ad44083-4127-4a3c-adfa-89e8a3a0f065</groupId><id>72645630-2551-46fe-8998-0a0ddf0ee748</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>e7bed45c-7eee-4fb2-9a5e-63416e9f5b79</id><parentGroupId>9ad44083-4127-4a3c-adfa-89e8a3a0f065</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>9ad44083-4127-4a3c-adfa-89e8a3a0f065</groupId><id>72645630-2551-46fe-8998-0a0ddf0ee748</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>9ad44083-4127-4a3c-adfa-89e8a3a0f065</groupId><id>fcdadd88-6b00-45e2-805c-3829ece30149</id><type>INPUT_PORT</type></source><zIndex>0</zIndex></connections><inputPorts><id>fcdadd88-6b00-45e2-805c-3829ece30149</id><parentGroupId>9ad44083-4127-4a3c-adfa-89e8a3a0f065</parentGroupId><position><x>79.0</x><y>53.0</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>request_in</name><state>RUNNING</state><type>INPUT_PORT</type></inputPorts><outputPorts><id>2f5d909f-30ed-419d-93c3-a7ed9aa438ea</id><parentGroupId>9ad44083-4127-4a3c-adfa-89e8a3a0f065</parentGroupId><position><x>579.6666402307529</x><y>-168.8710465320811</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>requests_out</name><state>RUNNING</state><type>OUTPUT_PORT</type></outputPorts><processors><id>72645630-2551-46fe-8998-0a0ddf0ee748</id><parentGroupId>9ad44083-4127-4a3c-adfa-89e8a3a0f065</parentGroupId><position><x>422.0</x><y>215.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Command Arguments</key><value><description>The arguments to supply to the executable delimited by the ';' character.</description><displayName>Command Arguments</displayName><dynamic>false</dynamic><name>Command Arguments</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Command Path</key><value><description>Specifies the command to be executed; if just the name of an executable is provided, it must be in the user's environment PATH.</description><displayName>Command Path</displayName><dynamic>false</dynamic><name>Command Path</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Ignore STDIN</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, the contents of the incoming flowfile will not be passed to the executing command</description><displayName>Ignore STDIN</displayName><dynamic>false</dynamic><name>Ignore STDIN</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Working Directory</key><value><description>The directory to use as the current working directory when executing the command</description><displayName>Working Directory</displayName><dynamic>false</dynamic><name>Working Directory</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Argument Delimiter</key><value><defaultValue>;</defaultValue><description>Delimiter to use to separate arguments for a command [default: ;]. Must be a single character</description><displayName>Argument Delimiter</displayName><dynamic>false</dynamic><name>Argument Delimiter</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Output Destination Attribute</key><value><description>If set, the output of the stream command will be put into an attribute of the original FlowFile instead of a separate FlowFile. There will no longer be a relationship for 'output stream'. The value of this property will be the key for the output attribute.</description><displayName>Output Destination Attribute</displayName><dynamic>false</dynamic><name>Output Destination Attribute</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Attribute Length</key><value><defaultValue>256</defaultValue><description>If routing the output of the stream command to an attribute, the number of characters put to the attribute value will be at most this amount. This is important because attributes are held in memory and large attributes will quickly cause out of memory issues. If the output goes longer than this value, it will truncated to fit. Consider making this smaller if able.</description><displayName>Max Attribute Length</displayName><dynamic>false</dynamic><name>Max Attribute Length</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Command Arguments</key><value>/home/nifi/CCFraudUseCase/Data_Generation/readrandom0.5.py ; -i 5</value></entry><entry><key>Command Path</key><value>python</value></entry><entry><key>Ignore STDIN</key><value>true</value></entry><entry><key>Working Directory</key><value>/home/nifi/CCFraudUseCase/Data_Generation</value></entry><entry><key>Argument Delimiter</key><value>;</value></entry><entry><key>Output Destination Attribute</key></entry><entry><key>Max Attribute Length</key><value>256</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ExecuteStreamCommand</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that were successfully processed</description><name>original</name></relationships><relationships><autoTerminate>false</autoTerminate><description>The destination path for the flow file created from the command's output</description><name>output stream</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type></processors></contents><disabledCount>0</disabledCount><inactiveRemotePortCount>0</inactiveRemotePortCount><inputPortCount>1</inputPortCount><invalidCount>0</invalidCount><name>Five Requests</name><outputPortCount>1</outputPortCount><parent><id>201ed82f-806d-49af-975f-b9a228a8893b</id><name>handle_requests</name><parent><id>e79dedd6-ea12-4b64-b0ff-00830a9161b2</id><name>NiFi Flow</name></parent></parent><runningCount>3</runningCount><stoppedCount>0</stoppedCount></processGroups><processGroups><id>155a6132-559b-4edf-9d22-c6a8a370e155</id><parentGroupId>201ed82f-806d-49af-975f-b9a228a8893b</parentGroupId><position><x>574.0</x><y>-46.2674446105957</y></position><activeRemotePortCount>0</activeRemotePortCount><comments></comments><contents><connections><id>aef5303c-52d2-4144-b35a-c635c89f271c</id><parentGroupId>155a6132-559b-4edf-9d22-c6a8a370e155</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>155a6132-559b-4edf-9d22-c6a8a370e155</groupId><id>f1ad739e-c178-4cf1-bda5-e75b8893272f</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>155a6132-559b-4edf-9d22-c6a8a370e155</groupId><id>9b53d2d6-f5c3-4c9e-a335-f8cbefbd2bb4</id><type>INPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>85244efd-98b4-4bce-82d3-34b00beb3382</id><parentGroupId>155a6132-559b-4edf-9d22-c6a8a370e155</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>155a6132-559b-4edf-9d22-c6a8a370e155</groupId><id>4bbd1e15-804b-4b84-8650-91b1e3dc29e6</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>output stream</selectedRelationships><source><groupId>155a6132-559b-4edf-9d22-c6a8a370e155</groupId><id>f1ad739e-c178-4cf1-bda5-e75b8893272f</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><inputPorts><id>9b53d2d6-f5c3-4c9e-a335-f8cbefbd2bb4</id><parentGroupId>155a6132-559b-4edf-9d22-c6a8a370e155</parentGroupId><position><x>79.0</x><y>53.0</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>request_in</name><state>RUNNING</state><type>INPUT_PORT</type></inputPorts><outputPorts><id>4bbd1e15-804b-4b84-8650-91b1e3dc29e6</id><parentGroupId>155a6132-559b-4edf-9d22-c6a8a370e155</parentGroupId><position><x>1102.0</x><y>308.0</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>requests_out</name><state>RUNNING</state><type>OUTPUT_PORT</type></outputPorts><processors><id>f1ad739e-c178-4cf1-bda5-e75b8893272f</id><parentGroupId>155a6132-559b-4edf-9d22-c6a8a370e155</parentGroupId><position><x>570.9222717285156</x><y>44.25880432128906</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Command Arguments</key><value><description>The arguments to supply to the executable delimited by the ';' character.</description><displayName>Command Arguments</displayName><dynamic>false</dynamic><name>Command Arguments</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Command Path</key><value><description>Specifies the command to be executed; if just the name of an executable is provided, it must be in the user's environment PATH.</description><displayName>Command Path</displayName><dynamic>false</dynamic><name>Command Path</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Ignore STDIN</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, the contents of the incoming flowfile will not be passed to the executing command</description><displayName>Ignore STDIN</displayName><dynamic>false</dynamic><name>Ignore STDIN</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Working Directory</key><value><description>The directory to use as the current working directory when executing the command</description><displayName>Working Directory</displayName><dynamic>false</dynamic><name>Working Directory</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Argument Delimiter</key><value><defaultValue>;</defaultValue><description>Delimiter to use to separate arguments for a command [default: ;]. Must be a single character</description><displayName>Argument Delimiter</displayName><dynamic>false</dynamic><name>Argument Delimiter</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Output Destination Attribute</key><value><description>If set, the output of the stream command will be put into an attribute of the original FlowFile instead of a separate FlowFile. There will no longer be a relationship for 'output stream'. The value of this property will be the key for the output attribute.</description><displayName>Output Destination Attribute</displayName><dynamic>false</dynamic><name>Output Destination Attribute</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Attribute Length</key><value><defaultValue>256</defaultValue><description>If routing the output of the stream command to an attribute, the number of characters put to the attribute value will be at most this amount. This is important because attributes are held in memory and large attributes will quickly cause out of memory issues. If the output goes longer than this value, it will truncated to fit. Consider making this smaller if able.</description><displayName>Max Attribute Length</displayName><dynamic>false</dynamic><name>Max Attribute Length</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Command Arguments</key><value>/home/nifi/CCFraudUseCase/Data_Generation/readrandom0.5.py</value></entry><entry><key>Command Path</key><value>python</value></entry><entry><key>Ignore STDIN</key><value>true</value></entry><entry><key>Working Directory</key><value>/home/nifi/CCFraudUseCase/Data_Generation</value></entry><entry><key>Argument Delimiter</key><value>;</value></entry><entry><key>Output Destination Attribute</key></entry><entry><key>Max Attribute Length</key><value>256</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ExecuteStreamCommand</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that were successfully processed</description><name>original</name></relationships><relationships><autoTerminate>false</autoTerminate><description>The destination path for the flow file created from the command's output</description><name>output stream</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type></processors></contents><disabledCount>0</disabledCount><inactiveRemotePortCount>0</inactiveRemotePortCount><inputPortCount>1</inputPortCount><invalidCount>0</invalidCount><name>single_request_processor</name><outputPortCount>1</outputPortCount><parent><id>201ed82f-806d-49af-975f-b9a228a8893b</id><name>handle_requests</name><parent><id>e79dedd6-ea12-4b64-b0ff-00830a9161b2</id><name>NiFi Flow</name></parent></parent><runningCount>3</runningCount><stoppedCount>0</stoppedCount></processGroups></contents><disabledCount>0</disabledCount><inactiveRemotePortCount>0</inactiveRemotePortCount><inputPortCount>3</inputPortCount><invalidCount>0</invalidCount><name>handle_requests</name><outputPortCount>1</outputPortCount><parent><id>e79dedd6-ea12-4b64-b0ff-00830a9161b2</id><name>NiFi Flow</name></parent><runningCount>15</runningCount><stoppedCount>0</stoppedCount></processGroups><processGroups><id>5a9bc0f4-9dad-4660-9084-b6dd0f2eb866</id><parentGroupId>e79dedd6-ea12-4b64-b0ff-00830a9161b2</parentGroupId><position><x>1127.4147297663649</x><y>-45.138230310092496</y></position><activeRemotePortCount>0</activeRemotePortCount><comments></comments><contents><connections><id>d915dfbb-2f01-4f6a-8f7b-4caf55e02897</id><parentGroupId>5a9bc0f4-9dad-4660-9084-b6dd0f2eb866</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>5a9bc0f4-9dad-4660-9084-b6dd0f2eb866</groupId><id>31c45b32-7b6c-4857-9dbd-5b523b5cfca0</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>splits</selectedRelationships><source><groupId>5a9bc0f4-9dad-4660-9084-b6dd0f2eb866</groupId><id>f5e48e74-bba4-4852-8052-b2841089a28d</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>5a727dbb-53e1-4003-af68-03b3a2f9b3ac</id><parentGroupId>5a9bc0f4-9dad-4660-9084-b6dd0f2eb866</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>5a9bc0f4-9dad-4660-9084-b6dd0f2eb866</groupId><id>f45ad326-d525-4316-86b9-3c7c5adc6304</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>5a9bc0f4-9dad-4660-9084-b6dd0f2eb866</groupId><id>b2dab97d-eeb2-44a8-aeb4-3d27cc3a6dff</id><type>INPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>be6dfc9f-361e-446f-bf80-898b0b77b6d5</id><parentGroupId>5a9bc0f4-9dad-4660-9084-b6dd0f2eb866</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>5a9bc0f4-9dad-4660-9084-b6dd0f2eb866</groupId><id>f5e48e74-bba4-4852-8052-b2841089a28d</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>5a9bc0f4-9dad-4660-9084-b6dd0f2eb866</groupId><id>f45ad326-d525-4316-86b9-3c7c5adc6304</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>a0cd779a-83a4-47f2-a6f6-31f787a4af96</id><parentGroupId>5a9bc0f4-9dad-4660-9084-b6dd0f2eb866</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>5a9bc0f4-9dad-4660-9084-b6dd0f2eb866</groupId><id>c1df73a8-e01e-4aa8-909b-dda156552e75</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>5a9bc0f4-9dad-4660-9084-b6dd0f2eb866</groupId><id>31c45b32-7b6c-4857-9dbd-5b523b5cfca0</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><inputPorts><id>b2dab97d-eeb2-44a8-aeb4-3d27cc3a6dff</id><parentGroupId>5a9bc0f4-9dad-4660-9084-b6dd0f2eb866</parentGroupId><position><x>1365.480893189861</x><y>158.17148838858037</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>events</name><state>RUNNING</state><type>INPUT_PORT</type></inputPorts><processors><id>f45ad326-d525-4316-86b9-3c7c5adc6304</id><parentGroupId>5a9bc0f4-9dad-4660-9084-b6dd0f2eb866</parentGroupId><position><x>1802.4808680438387</x><y>120.17148686805996</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>HTTP Status Code</key><value><description>The HTTP Status Code to use when responding to the HTTP Request. See Section 10 of RFC 2616 for more information.</description><displayName>HTTP Status Code</displayName><dynamic>false</dynamic><name>HTTP Status Code</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>HTTP Context Map</key><value><allowableValues><displayName>StandardHttpContextMap</displayName><value>6085aa6b-f631-46cb-b0fe-ffc2ea43fc46</value></allowableValues><description>The HTTP Context Map Controller Service to use for caching the HTTP Request Information</description><displayName>HTTP Context Map</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService><name>HTTP Context Map</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Access-Control-Allow-Origin</key><value><description>Specifies the value to send for the 'Access-Control-Allow-Origin' HTTP Header</description><displayName>Access-Control-Allow-Origin</displayName><dynamic>true</dynamic><name>Access-Control-Allow-Origin</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>HTTP Status Code</key><value>200</value></entry><entry><key>HTTP Context Map</key><value>6085aa6b-f631-46cb-b0fe-ffc2ea43fc46</value></entry><entry><key>Access-Control-Allow-Origin</key><value>*</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>HandleHttpResponse</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles will be routed to this Relationship if the Processor is unable to respond to the requestor. This may happen, for instance, if the connection times out or if NiFi is restarted before responding to the HTTP Request.</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles will be routed to this Relationship after the response has been successfully sent to the requestor</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.HandleHttpResponse</type></processors><processors><id>c1df73a8-e01e-4aa8-909b-dda156552e75</id><parentGroupId>5a9bc0f4-9dad-4660-9084-b6dd0f2eb866</parentGroupId><position><x>1794.6970339408135</x><y>677.521380375064</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Hadoop Configuration Resources</key><value><description>A file or comma separated list of files which contains the Hadoop file system configuration. Without this, Hadoop will search the classpath for a 'core-site.xml' and 'hdfs-site.xml' file or will revert to a default configuration.</description><displayName>Hadoop Configuration Resources</displayName><dynamic>false</dynamic><name>Hadoop Configuration Resources</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Principal</key><value><description>Kerberos principal to authenticate as. Requires nifi.kerberos.krb5.file to be set in your nifi.properties</description><displayName>Kerberos Principal</displayName><dynamic>false</dynamic><name>Kerberos Principal</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Keytab</key><value><description>Kerberos keytab associated with the principal. Requires nifi.kerberos.krb5.file to be set in your nifi.properties</description><displayName>Kerberos Keytab</displayName><dynamic>false</dynamic><name>Kerberos Keytab</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Relogin Period</key><value><defaultValue>4 hours</defaultValue><description>Period of time which should pass before attempting a kerberos relogin</description><displayName>Kerberos Relogin Period</displayName><dynamic>false</dynamic><name>Kerberos Relogin Period</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Directory</key><value><description>The parent HDFS directory to which files should be written</description><displayName>Directory</displayName><dynamic>false</dynamic><name>Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Conflict Resolution Strategy</key><value><allowableValues><displayName>replace</displayName><value>replace</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><allowableValues><displayName>fail</displayName><value>fail</value></allowableValues><defaultValue>fail</defaultValue><description>Indicates what should happen when a file with the same name already exists in the output directory</description><displayName>Conflict Resolution Strategy</displayName><dynamic>false</dynamic><name>Conflict Resolution Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Block Size</key><value><description>Size of each block as written to HDFS. This overrides the Hadoop Configuration</description><displayName>Block Size</displayName><dynamic>false</dynamic><name>Block Size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>IO Buffer Size</key><value><description>Amount of memory to use to buffer file contents during IO. This overrides the Hadoop Configuration</description><displayName>IO Buffer Size</displayName><dynamic>false</dynamic><name>IO Buffer Size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Replication</key><value><description>Number of times that HDFS will replicate each file. This overrides the Hadoop Configuration</description><displayName>Replication</displayName><dynamic>false</dynamic><name>Replication</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Permissions umask</key><value><description>A umask represented as an octal number which determines the permissions of files written to HDFS. This overrides the Hadoop Configuration dfs.umaskmode</description><displayName>Permissions umask</displayName><dynamic>false</dynamic><name>Permissions umask</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Remote Owner</key><value><description>Changes the owner of the HDFS file to this value after it is written. This only works if NiFi is running as a user that has HDFS super user privilege to change owner</description><displayName>Remote Owner</displayName><dynamic>false</dynamic><name>Remote Owner</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Remote Group</key><value><description>Changes the group of the HDFS file to this value after it is written. This only works if NiFi is running as a user that has HDFS super user privilege to change group</description><displayName>Remote Group</displayName><dynamic>false</dynamic><name>Remote Group</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Compression codec</key><value><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><allowableValues><displayName>DEFAULT</displayName><value>DEFAULT</value></allowableValues><allowableValues><displayName>BZIP</displayName><value>BZIP</value></allowableValues><allowableValues><displayName>GZIP</displayName><value>GZIP</value></allowableValues><allowableValues><displayName>LZ4</displayName><value>LZ4</value></allowableValues><allowableValues><displayName>SNAPPY</displayName><value>SNAPPY</value></allowableValues><allowableValues><displayName>AUTOMATIC</displayName><value>AUTOMATIC</value></allowableValues><defaultValue>NONE</defaultValue><description></description><displayName>Compression codec</displayName><dynamic>false</dynamic><name>Compression codec</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Hadoop Configuration Resources</key><value>/etc/hadoop/conf/core-site.xml</value></entry><entry><key>Kerberos Principal</key></entry><entry><key>Kerberos Keytab</key></entry><entry><key>Kerberos Relogin Period</key><value>4 hours</value></entry><entry><key>Directory</key><value>/user/hdfs/nifi</value></entry><entry><key>Conflict Resolution Strategy</key><value>fail</value></entry><entry><key>Block Size</key></entry><entry><key>IO Buffer Size</key></entry><entry><key>Replication</key></entry><entry><key>Permissions umask</key></entry><entry><key>Remote Owner</key></entry><entry><key>Remote Group</key></entry><entry><key>Compression codec</key><value>NONE</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutHDFS</name><relationships><autoTerminate>true</autoTerminate><description>Files that could not be written to HDFS for some reason are transferred to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Files that have been successfully written to HDFS are transferred to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.hadoop.PutHDFS</type></processors><processors><id>31c45b32-7b6c-4857-9dbd-5b523b5cfca0</id><parentGroupId>5a9bc0f4-9dad-4660-9084-b6dd0f2eb866</parentGroupId><position><x>1802.4807711195485</x><y>493.17148838858037</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>filename</key><value><description></description><displayName>filename</displayName><dynamic>true</dynamic><name>filename</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry><entry><key>filename</key><value>${filename}.${uuid}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>UpdateAttribute</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>f5e48e74-bba4-4852-8052-b2841089a28d</id><parentGroupId>5a9bc0f4-9dad-4660-9084-b6dd0f2eb866</parentGroupId><position><x>1796.053711353833</x><y>313.20323666417124</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Line Split Count</key><value><description>The number of lines that will be added to each split file</description><displayName>Line Split Count</displayName><dynamic>false</dynamic><name>Line Split Count</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Header Line Count</key><value><defaultValue>0</defaultValue><description>The number of lines that should be considered part of the header; the header lines will be duplicated to all split files</description><displayName>Header Line Count</displayName><dynamic>false</dynamic><name>Header Line Count</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Remove Trailing Newlines</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Whether to remove newlines at the end of each split file. This should be false if you intend to merge the split files later</description><displayName>Remove Trailing Newlines</displayName><dynamic>false</dynamic><name>Remove Trailing Newlines</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Line Split Count</key><value>1</value></entry><entry><key>Header Line Count</key><value>0</value></entry><entry><key>Remove Trailing Newlines</key><value>true</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>SplitText</name><relationships><autoTerminate>true</autoTerminate><description>If a file cannot be split for some reason, the original file will be routed to this destination and nothing will be routed elsewhere</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>The original input file will be routed to this destination when it has been successfully split into 1 or more files</description><name>original</name></relationships><relationships><autoTerminate>false</autoTerminate><description>The split files will be routed to this destination when an input file is successfully split into 1 or more split files</description><name>splits</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.SplitText</type></processors></contents><disabledCount>0</disabledCount><inactiveRemotePortCount>0</inactiveRemotePortCount><inputPortCount>1</inputPortCount><invalidCount>0</invalidCount><name>write_out</name><outputPortCount>0</outputPortCount><parent><id>e79dedd6-ea12-4b64-b0ff-00830a9161b2</id><name>NiFi Flow</name></parent><runningCount>5</runningCount><stoppedCount>0</stoppedCount></processGroups><processors><id>c0eae419-0db2-4a94-b7fe-98badb3df6a5</id><parentGroupId>e79dedd6-ea12-4b64-b0ff-00830a9161b2</parentGroupId><position><x>-49.0</x><y>202.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Listening Port</key><value><defaultValue>80</defaultValue><description>The Port to listen on for incoming HTTP requests</description><displayName>Listening Port</displayName><dynamic>false</dynamic><name>Listening Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Hostname</key><value><description>The Hostname to bind to. If not specified, will bind to all hosts</description><displayName>Hostname</displayName><dynamic>false</dynamic><name>Hostname</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><description>The SSL Context Service to use in order to secure the server. If specified, the server will accept only HTTPS requests; otherwise, the server will accept only HTTP requests</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>HTTP Context Map</key><value><allowableValues><displayName>StandardHttpContextMap</displayName><value>6085aa6b-f631-46cb-b0fe-ffc2ea43fc46</value></allowableValues><description>The HTTP Context Map Controller Service to use for caching the HTTP Request Information</description><displayName>HTTP Context Map</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService><name>HTTP Context Map</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allowed Paths</key><value><description>A Regular Expression that specifies the valid HTTP Paths that are allowed in the incoming URL Requests. If this value is specified and the path of the HTTP Requests does not match this Regular Expression, the Processor will respond with a 404: NotFound</description><displayName>Allowed Paths</displayName><dynamic>false</dynamic><name>Allowed Paths</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Default URL Character Set</key><value><defaultValue>UTF-8</defaultValue><description>The character set to use for decoding URL parameters if the HTTP Request does not supply one</description><displayName>Default URL Character Set</displayName><dynamic>false</dynamic><name>Default URL Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow GET</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP GET Method</description><displayName>Allow GET</displayName><dynamic>false</dynamic><name>Allow GET</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow POST</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP POST Method</description><displayName>Allow POST</displayName><dynamic>false</dynamic><name>Allow POST</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow PUT</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP PUT Method</description><displayName>Allow PUT</displayName><dynamic>false</dynamic><name>Allow PUT</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow DELETE</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP DELETE Method</description><displayName>Allow DELETE</displayName><dynamic>false</dynamic><name>Allow DELETE</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow HEAD</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Allow HTTP HEAD Method</description><displayName>Allow HEAD</displayName><dynamic>false</dynamic><name>Allow HEAD</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow OPTIONS</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Allow HTTP OPTIONS Method</description><displayName>Allow OPTIONS</displayName><dynamic>false</dynamic><name>Allow OPTIONS</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Additional HTTP Methods</key><value><description>A comma-separated list of non-standard HTTP Methods that should be allowed</description><displayName>Additional HTTP Methods</displayName><dynamic>false</dynamic><name>Additional HTTP Methods</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Client Authentication</key><value><allowableValues><description>Processor will not authenticate clients. Anyone can communicate with this Processor anonymously</description><displayName>No Authentication</displayName><value>No Authentication</value></allowableValues><allowableValues><description>Processor will try to verify the client but if unable to verify will allow the client to communicate anonymously</description><displayName>Want Authentication</displayName><value>Want Authentication</value></allowableValues><allowableValues><description>Processor will reject communications from any client unless the client provides a certificate that is trusted by the TrustStorespecified in the SSL Context Service</description><displayName>Need Authentication</displayName><value>Need Authentication</value></allowableValues><defaultValue>No Authentication</defaultValue><description>Specifies whether or not the Processor should authenticate clients. This value is ignored if the &lt;SSL Context Service&gt; Property is not specified or the SSL Context provided uses only a KeyStore and not a TrustStore.</description><displayName>Client Authentication</displayName><dynamic>false</dynamic><name>Client Authentication</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Listening Port</key><value>9095</value></entry><entry><key>Hostname</key></entry><entry><key>SSL Context Service</key></entry><entry><key>HTTP Context Map</key><value>6085aa6b-f631-46cb-b0fe-ffc2ea43fc46</value></entry><entry><key>Allowed Paths</key></entry><entry><key>Default URL Character Set</key><value>UTF-8</value></entry><entry><key>Allow GET</key><value>true</value></entry><entry><key>Allow POST</key><value>false</value></entry><entry><key>Allow PUT</key><value>false</value></entry><entry><key>Allow DELETE</key><value>false</value></entry><entry><key>Allow HEAD</key><value>false</value></entry><entry><key>Allow OPTIONS</key><value>true</value></entry><entry><key>Additional HTTP Methods</key></entry><entry><key>Client Authentication</key><value>No Authentication</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>HandleHttpRequest</name><relationships><autoTerminate>false</autoTerminate><description>All content that is received is routed to the 'success' relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.HandleHttpRequest</type></processors><processors><id>8a8e2d86-6c11-41be-8c70-4c84fa73acf1</id><parentGroupId>e79dedd6-ea12-4b64-b0ff-00830a9161b2</parentGroupId><position><x>510.8199462890625</x><y>5.864978790283203</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>HTTP Status Code</key><value><description>The HTTP Status Code to use when responding to the HTTP Request. See Section 10 of RFC 2616 for more information.</description><displayName>HTTP Status Code</displayName><dynamic>false</dynamic><name>HTTP Status Code</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>HTTP Context Map</key><value><allowableValues><displayName>StandardHttpContextMap</displayName><value>6085aa6b-f631-46cb-b0fe-ffc2ea43fc46</value></allowableValues><description>The HTTP Context Map Controller Service to use for caching the HTTP Request Information</description><displayName>HTTP Context Map</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService><name>HTTP Context Map</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>HTTP Status Code</key><value>404</value></entry><entry><key>HTTP Context Map</key><value>6085aa6b-f631-46cb-b0fe-ffc2ea43fc46</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>HandleHttpResponse</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles will be routed to this Relationship if the Processor is unable to respond to the requestor. This may happen, for instance, if the connection times out or if NiFi is restarted before responding to the HTTP Request.</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles will be routed to this Relationship after the response has been successfully sent to the requestor</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.HandleHttpResponse</type></processors><processors><id>61a729c5-d52f-4c74-88dc-d6cac9d1bf03</id><parentGroupId>e79dedd6-ea12-4b64-b0ff-00830a9161b2</parentGroupId><position><x>510.0</x><y>206.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Routing Strategy</key><value><allowableValues><description>A copy of the FlowFile will be routed to each relationship whose corresponding expression evaluates to 'true'</description><displayName>Route to Property name</displayName><value>Route to Property name</value></allowableValues><allowableValues><description>Requires that all user-defined expressions evaluate to 'true' for the FlowFile to be considered a match</description><displayName>Route to 'matched' if all match</displayName><value>Route to 'match' if all match</value></allowableValues><allowableValues><description>Requires that at least one user-defined expression evaluate to 'true' for hte FlowFile to be considered a match</description><displayName>Route to 'matched' if any matches</displayName><value>Route to 'match' if any matches</value></allowableValues><defaultValue>Route to Property name</defaultValue><description>Specifies how to determine which relationship to use when evaluating the Expression Language</description><displayName>Routing Strategy</displayName><dynamic>false</dynamic><name>Routing Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>advanced_fraud</key><value><description></description><displayName>advanced_fraud</displayName><dynamic>true</dynamic><name>advanced_fraud</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>five_record</key><value><description></description><displayName>five_record</displayName><dynamic>true</dynamic><name>five_record</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>single_record</key><value><description></description><displayName>single_record</displayName><dynamic>true</dynamic><name>single_record</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Routing Strategy</key><value>Route to Property name</value></entry><entry><key>advanced_fraud</key><value>${http.request.uri:contains(&quot;ledger&quot;)}</value></entry><entry><key>five_record</key><value>${http.request.uri:contains(&quot;five&quot;)}</value></entry><entry><key>single_record</key><value>${http.request.uri:contains(&quot;single&quot;)}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>RouteOnAttribute</name><relationships><autoTerminate>false</autoTerminate><description></description><name>advanced_fraud</name></relationships><relationships><autoTerminate>false</autoTerminate><description></description><name>five_record</name></relationships><relationships><autoTerminate>false</autoTerminate><description></description><name>single_record</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles that do not match any user-define expression will be routed here</description><name>unmatched</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.RouteOnAttribute</type></processors></snippet><timestamp>04/12/2016 14:01:00 PDT</timestamp></template>